<br>
<div class="container">

    <div class="row">

        <div class="col-3">
           <button class="btn btn-info" routerLink="/us">Us news</button> &nbsp;&nbsp;
           <button class="btn btn-info" routerLink="/germany">Germany news</button>
        </div>

        <div class="col-3">
            <form class="d-flex">
                <input class="form-control me-2" type="date" name="date" #date="ngModel" ngModel class="form-control">
                <button (click)="getDateWisedata(date.value)" class="btn btn-outline-primary">date</button>
            </form>
        </div>

        <div class="col-6">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="searchBox" placeholder="Search" aria-label="Search" #searchBox="ngModel" ngModel>
            <button class="btn btn-outline-success" type="submit" (click)="getSearchResult(searchBox.value)">Search</button>
          </form>
        </div>

    </div>
<br><br>


    <div class="container">
        <h2>Top headlines</h2> <br>

        <div class="row">

            <div class="col-lg-3" *ngFor="let dt of news">

                <div class="card" style="width: 16rem;">
                    <img [src]="dt.urlToImage" alt="News Image" />
                    <div class="card-body">
                        <h5 class="card-title">{{dt.title}}</h5>
                        <p><b>Author : </b>{{dt.author}}</p>
                        <p class="card-text">{{dt.description}}</p>
                        <p>{{dt.publishedAt | date}}</p>
                        <a href="{{dt.url}}" class="btn btn-dark">Read more...</a>
                    </div>
                </div>

            </div>

        </div>

    </div>